{% extends 'base.html.twig' %}
{% block title %}
	Actualités
{% endblock %}

{% block body %}
	<body class="bg-secondary">
	<div class="row m-2 justify-content-around">
		<div class="col-12 col-lg-5">
			<h1 class="text-center m-3 fontTitle text-light">Actualités</h1>
			<div class="container">
				<div class="row m-2 justify-content-start">
					<!-- loop on the actualities passed in parameters of the controller-->
					{% for actuality in actualities %}
						<div class="border-top d-flex flex-column m-3 pt-3">
							{% if actuality.image %}
							<a data-bs-toggle="modal" data-bs-target="#exampleModal">
								<img id="imgActu" class="m-2 imgActu" src={{ asset('css/images/' ~ actuality.image) }} onclick="clickimgActu(this)">
							</a>
								<div class="d-flex flex-column ms-3 w-75 text-light">
									<h6>
										{{actuality.title}}
									</h6>
									<p>
										{{actuality.content}}
									</p>
									<small>Publié le
										{{actuality.publishedAt|date('d/m/Y')}}
									</small>
								</div>
							</div>
						{% else %}
							<div class="d-flex flex-column ms-3 w-75 text-light">
								<h6>
									{{actuality.title}}
								</h6>
								<p>
									{{actuality.content}}
								</p>
								<small>
									Publié le
									{{actuality.publishedAt|date('d/m/Y')}}
								</small>
							</div>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
		<div class="col-12 col-lg-5">
			<h1 class="text-center m-3 fontTitle text-light">Publications</h1>
			<div class="container">
			{% for publication in publications %}
						<div class="row m-2 justify-content-start">
							{% if publication.images %}
								<div class="d-flex flex-row justify-content-start border-top m-3 pt-3">
								{% set images = publication.images %}
								{% for image in images %}
								<a data-bs-toggle="modal" data-bs-target="#exampleModal">
									<img class="m-2 imgActu" src= {{ asset('css/images/') ~ image }} alt="image de publication" onclick="clickimgActu(this)">
								</a>
								{% endfor %}
								</div>
							{% endif %}
								<div class="d-flex flex-column ms-3 w-75 text-light">
									<h6>
										{{publication.title}}
									</h6>
									<p>
										{{publication.content}}
									</p>
									<small>Publié le
										{{publication.publishedAt|date('d/m/Y')}}
									</small>
								</div>
							</div>
			{% endfor %}
			</div>
			</div>
	</div>
				<!-- Modal -->
				<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-xl">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<div class="divModal">
								<img id="imgModal" class='imgModal' src="" alt="image de la modale">
								</div>
							</div>
						</div>
					</div>
				</div>
</body>
{% endblock %}
