{% extends 'base.html.twig' %}
{% block title %}
	Actualités
{% endblock %}

{% block body %}
<body class="bg-secondary">
	<h1 class="text-center m-3 fontTitle text-light">Actualités</h1>
	<!-- if ROLE_ADMIN then button to add actuality" is available -->
	{% if is_granted('ROLE_ADMIN') %}
		<div class='d-flex justify-content-center'>
			<a class='btn btn-primary m-2' href="/actuality/add">
				<i class="bi bi-plus me-2"></i>Ajouter une actualité</a>
		</div>
	{% endif %}
	<div class="container">
	<div class="row m-2 justify-content-start">
		<!-- loop on the actualities passed in parameters of the controller-->
		{% for actuality in actualities %}
			<div class="border-top d-flex flex-row m-3 pt-3 col-10 col-sm-5 col-md-5">
				{% if actuality.image %}
					<a data-bs-toggle="modal" data-bs-target="#eModal">
						<img id="imgActu" class="m-2 imgActu" src={{ asset('css/images/' ~ actuality.image) }}>
					</a>
					<div class="d-flex flex-column ms-3 w-75 text-light">
						<h6>
							{{actuality.title}}
						</h6>
						<p>
							{{actuality.content}}
						</p>
						<small>Publié le
							{{actuality.publishedAt|date('d/m/Y')}}
						</small>
						{% if is_granted('ROLE_ADMIN') %}
						<a class="btn btn-warning m-1" href="#">
							<i class="bi bi-pencil-square me-2"></i>Modifier
						</a>
						<a class="btn btn-danger m-1" href="#">
							<i class="bi bi-trash3 me-2"></i>Supprimer
						</a>
						{% endif %}
					</div>
			</div>
			{% else %}
				<div class="d-flex flex-column ms-3 w-100 text-light">
					<h6>
						{{actuality.title}}
					</h6>
					<p>
						{{actuality.content}}
					</p>
					<small>
						Publié le {{actuality.publishedAt|date('d/m/Y')}}
					</small>
					{% if is_granted('ROLE_ADMIN') %}
						<a class="btn btn-warning m-1" href="#">
							<i class="bi bi-pencil-square me-2"></i>Modifier
						</a>
						<a class="btn btn-danger m-1" href="#">
							<i class="bi bi-trash3 me-2"></i>Supprimer
						</a>
						{% endif %}
				</div>
			</div>
		{% endif %}
		{% endfor %}
	</div>
	</div>
</div>
</body>
{% endblock %}
