{% extends 'base.html.twig' %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}
   <button class='btn btn-primary m-3'><i class="bi bi-plus me-2"></i>Ajouter un tableau</button>
{% endif %}
	<body class="backImg">
		<div class="d-flex justify-content-around flex-wrap container mt-3">
		{% for painting in paintings %}
			<div class="card m-2 card-bs p-2">
				{% if painting.image %}<img src={{ asset('css/images/' ~ painting.image) }} class="card-img-top" alt={{painting.name}}>
				{% endif %}
				<div class="card-body">
					{% if painting.name %}
						<h5 class="card-title">{{painting.name}}</h5>
					{% endif %}
					<p class="card-text">{{painting.description}}</p>
				</div>
				<div class="card-footer">
					<small>
					   {{painting.technic}}</p>
					</small>
				</div>
				{% if is_granted('ROLE_ADMIN') %}
				<button class='btn btn-danger m-1'>Supprimer</button>
				<button class='btn btn-warning m-1'>Modifier</button>
				{% endif %}
			</div>
		{% endfor %}
	</div>
	</body>
{% endblock %}
