{% extends 'base.html.twig' %}
{% block title %}Galerie d'aquarelles
{% endblock %}

{% block body %}
	{% if is_granted('ROLE_ADMIN') %}
		<div class='d-flex justify-content-center'>
			<a class='btn btn-primary m-3' href="/painting/add">
				<i class="bi bi-plus me-2"></i>Ajouter une aquarelle</a>
		</div>
	{% endif %}
	<body class="bg-secondary">
		<div class="d-flex justify-content-around flex-wrap container mt-3">

			{% for painting in paintings %}

				<div class="card m-1 card-bs p-2 h-75">
					{% if painting.image %}						
						<a href="{{path('app_painting_view', {'id': painting.id})}}" class="m-auto"><img src= {{ asset('css/images/') ~ painting.image }} class="card-img-top"></a>
					{% endif %}
					<div class="card-body">
						{% if painting.name %}
							<h5 class="card-title m-auto text-center">{{painting.name}}</h5>
						{% endif %}
					</div>
					<div class="card-footer">
						<small>
							{{painting.technic}}</p>
					</small>
				</div>
				{% if is_granted('ROLE_ADMIN') %}
					<button type="button" class="btn btn-danger m-1" id={{painting.id}} data-bs-toggle="modal" data-bs-target="#exampleModal">
						<i class="bi bi-trash3 me-2"></i>Supprimer
					</button>
					<!-- Modal -->
					<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h1 class="modal-title fs-5" id="exampleModalLabel">Vous allez supprimer une aquarelle</h1>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body">
									En êtes-vous sûr ?
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
									<a id="delete" type="button" class="btn btn-primary" href="">Supprimer définitivement</a>
								</div>
							</div>
						</div>
					</div>

					<a class="btn btn-warning m-1" href="{{path('app_painting_update', {'id': painting.id})}}">
						<i class="bi bi-pencil-square me-2"></i>Modifier</a>
				{% endif %}
			</div>
		{% endfor %}
	</div>	
</body>
{% endblock %}
