{% extends 'base.html.twig' %}

{% block body %}
	<body>
		<h1 class="fontTitle mt-2 text-center pb-2">Peintre Aquarelliste</h1>
		<div
			class="posTitle">
			<!--carousel-->
			<div id="carouselExampleControls" class="carousel carousel-fade" data-bs-ride="carousel">
				<div class="carousel-inner m-2">
					<div class="carousel-item active">
						<img src="css\images\crbst_marche1.jpg" class="d-block m-auto imgCar" alt="...">
					</div>
					<div class="carousel-item">
						<img src="css\images\sl_L_Arblay1.jpg" class="d-block  m-auto imgCar" alt="...">
					</div>
					<div class="carousel-item">
						<img src="css\images\crbst_Vaison.jpg" class="d-block m-auto imgCar" alt="...">
					</div>
				</div>
			</div>
			<h1 class="fontText text-center pt-2 m-1">“Le dessin a toujours été pour moi un moyen d’expression essentiel...”</h1>
		</div>
		<!--background-image-->
		<div class="imgContainer m-5">
			<img class="imgFrancois" src={{ asset('css/images/francoiskunze.jpg') }} alt="image de François Kunzé">
		</div>
		<div class="border-top m-3">
			<h1 class="fontTitle text-center p-5 pb-2">
				Actualité
			</h1>

			<div class="d-flex actu">
			<div class="d-flex p-5 m-2 rounded align-items-center actu border">
				<div>
					<img class="imgActu me-2 ms-2  rounded shadow" src={{ asset('css/images/' ~ actuality.image) }} alt="Actualité principale">
				</div>
				<div class="bg-white p-3 rounded shadow d-flex flex-column align-items-center mt-3 mb-3">					
					<p>
						{{actuality.title}}
					</p>
					<p>
						{{actuality.content}}
					</p>
					<div class="d-flex flex-row justify-content-start ps-4 w-100">
					<i class="bi bi-calendar-event pe-2"></i>
					<p><small>Publiée le {{actuality.publishedAt|date("d/m/Y")}}</small></p>
					</div>
				</div>
			</div>

			<div class="d-flex p-5 m-2 rounded align-items-center actu border">
				<div>
					<img class="imgActu me-2 ms-2  rounded shadow" src="css/images/francoiscontact.jpg" alt="Actualité principale">
				</div>
				<div class="bg-white p-3 rounded shadow d-flex flex-column align-items-center mt-3 mb-3">
					<div class="d-flex flex-row justify-content-start ps-4 w-100">
					<i class="bi bi-calendar-event pe-2"></i>
					<p><small>Publié le 12/09/2022</small></p>
					</div>
					
					<p>
						Je vous retrouve au salon de l'aquarelle de Caussade du 17 Septembre 2021 au 5 Octobre 2021.
						<br>
						<br>
						Au programme de nombreux artiste internationaux, des cours et des présentations en direct live !
					</p>
				</div>
			</div>
			</div>
			<a href="/actuality"><p class="text-center">voir plus...</p></a>
		</div>
	</body>
{% endblock %}
