{% extends 'base.html.twig' %}
{% block title %}
	{{painting.name}}
{% endblock %}

{% block body %}
	<body class="bg-secondary">
		<div class="d-flex flex-column">
			<div class=" w-auto d-flex justify-content-center flex-column">
				<div class="d-flex justify-content-center">
					<button class="btn btnColor text-light m-2" id="buttonGrow">
						<i class="bi bi-zoom-in"></i>
					</button>
					<button class="btn btnColor text-light m-2" id="buttonDimin">
						<i class="bi bi-zoom-out"></i>
					</button>
				</div>
        <h1 class="text-center fontTitle text-light">{{painting.name}}</h1>
				{% if is_granted('ROLE_USER') %}
				<a href="" class="link-light text-center mt-2 mb-4" data-bs-toggle="modal" data-bs-target="#exampleModal">Commenter</a>
				<!-- Modal -->
				<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h1 class="modal-title fs-5" id="exampleModalLabel">Votre commentaire sur {{painting.name}}</h1>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								{{ form_start(form) }}
								{{form_row(form.user,{'attr': {'value': app.user.username }})}}
								{{form_row(form.content)}}
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
								<input class='btn btn-primary' type="submit" value="Envoyer pour validation"></input>
								{{form_end(form)}}
							</div>
						</div>
					</div>
				</div>
				{% endif %}
				<div class="m-auto w-100 d-flex justify-content-center mb-4">
					<img class="p-2 bg-light" style="height:60vh" id="imgPaint" src={{ asset('css/images/') ~ painting.image }} alt={{painting.name}}>
				</div>
				<div class="d-flex flex-column mb-5 border m-auto w-50 p-4">
					<p class="text-light ">{{painting.description}}</p>
					<i class="text-light">{{painting.technic}}</i>
				</div>
			</div>

			<!-- Commentaires -->
			{% if comments %}
			<div class="d-flex flex-column justify-content-center w-50 p-5 m-auto comment">
				{% for comment in comments %}
				<!-- Si le commentaire est validé ou si l'administrateur est loggué, on affiche le commentaire -->
				{% if (comment.validate == true) or (is_granted('ROLE_ADMIN')) %}
				<div class="border m-1 p-3">
					<div>
						<h6>Commentaire de {{comment.user}}</h6>
						<p>{{comment.content}}</p>
						<small>
							<i>Publié le
								{{comment.publishedAt|date('d/m/Y')}}</i>
						</small>
					</div>	
				</div>
				<!-- Si un utilisateur est loggué, on affiche les commentaire validé est ses propres commentaires en attente de validation -->
				{% elseif app.user and app.user.username == comment.user %}
				<div class="border m-1 p-3">
					<div>
						<h6>Commentaire de {{comment.user}}</h6>
						<p>{{comment.content}}</p>
						<small>
							<i>Publié le
								{{comment.publishedAt|date('d/m/Y')}}</i>
						</small>
						<br>
						<small>
							<i class="text-warning">En attente de modération...</i>
						</small>
					</div>	
				</div>					
			</div>
			{% endif %}
			<!-- Si l'administrateur est loggué, on affiche le bouton de validation' -->
			{% if (is_granted('ROLE_ADMIN')) %}
       <div class="mb-3">
			 {% if (comment.validate) %}
        <div class="form-check form-switch">
  				<input class="form-check-input" type="checkbox" role="switch" id={{comment.id}} onchange="mySubmit({{comment.id}})" checked>
  				<label class="form-check-label" for="flexSwitchCheckDefault">Valider le commentaire</label>
				</div>
				{% else %}
				<div class="form-check form-switch">
  				<input class="form-check-input" type="checkbox" role="switch" id={{comment.id}} onchange="mySubmit({{comment.id}})">
  				<label class="form-check-label" for="flexSwitchCheckDefault">Valider le commentaire</label>
				</div>
				{% endif %}
       </div>
			{% endif %}
			{% endfor %}
			</div>
		{% endif %}
		</div> 
	</body>
	<!-- Script JS -->
	<script src={{ asset('scripts/scriptPaintingView.js') }}></script>
{% endblock %}
