{% extends 'admin/baseAdmin.html.twig' %}

{% block divSide %}

<div class="w-75 m-3">
		<h1 class="mb-3">Gestion des oeuvres</h1>
		<div class="w-75 m-auto">
			<div class="d-flex justify-content-between bg-light p-2 align-items-center">
				Oeuvres
				<a class="btn btn-primary" href="/painting/add"><i class="bi bi-plus-circle"></i></a>
			</div>		
			{% for painting in paintings %}
				<div class="d-flex justify-content-between m-1 border bg-light p-2 align-items-center">
				<div class="d-flex m-2 align-items-center">
				  	<img style="width: 50px; height: auto;" src={{ asset('css/images/') ~ painting.image }} alt={{ painting.name }}>
				  	<p class="ms-2 m-0">{{ painting.name }}</p>
				</div>
				<div class="m-2">
					<a class="btn btn-warning m-1" href="{{path('app_painting_update', {'id': painting.id})}}">
							<i class="bi bi-pencil-square"></i></a>
					<button type="button" class="btn btn-danger m-1" id={{ painting.id }} data-bs-toggle="modal" data-bs-target="#exampleModal">
							<i class="bi bi-trash3"></i>
					</button>
					<!-- Modal -->
					<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h1 class="modal-title fs-5" id="exampleModalLabel">Vous allez supprimer une aquarelle</h1>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body">
									En êtes-vous sûr ?
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
									<a id="delete" type="button" class="btn btn-primary" href="">Supprimer définitivement</a>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>		
			{% endfor %}		
		</div>		
	</div>
  <footer class="fixed-bottom m-3">
		<a style="text-decoration: underline; padding: 20px;" href="/">Retourner à la page d'accueil...</a>
  </footer>

{% endblock %}
